<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <!-- used to set how long a break can be, default 3 minutes -->
    <add key="breakSeconds" value="240"/>
    <!-- how often to check to update the background colour -->
    <add key="backgroundCheckSeconds" value="60"/>
    <!-- when the background should change-->
    <add key="backgroundChangeMinutes" value="30"/>
    <!-- the log file name for the record of times-->
    <add key="logFile" value="test.log"/>
    <!-- the first colour to change to after x minutes-->
    <add key="backgroundFirstColour" value=""/>
    <!-- the second colour to change to after x minutes-->
    <add key="backgroundSecondColour" value=""/>
    <!-- the third colour to change to after x minutes-->
    <add key="backgroundThirdColour" value=""/>
    <!-- the fourth colour to change to after x minutes-->
    <add key="backgroundFourthColour" value=""/>
    <!-- the fifth colour to change to after x minutes-->
    <add key="backgroundFifthColour" value=""/>
  </appSettings>
</configuration>